.works h2 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: var(--text-xl);
  text-align: center;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 2rem;
}
